<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>LALA</title>
    <link rel="stylesheet" href="theall/dist/main.css">
     <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] },
      TeX: { extensions: ["color.js"] }
    });
  </script>
<!--     <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
 --></head>
<body>
    <div id="container"></div>

    <script src="theall/dist/main.js"></script>
</body>
  <link rel="stylesheet" href="https://unpkg.com/antd/dist/antd.min.css">
  <!--<link rel="stylesheet" href="src/css/font-awesome.min.css">-->
</html>
